<% content_for :title do %>Tanks<% end %>
<%= render "shared/navigationbar" %>

<h1>Tank Overview</h1>

<%= render partial: "shared/tank_list", locals: {tanks: @tanks} %>

<%= render "shared/footer" %>