<% content_for :title do %>Tanks<% end %>
<%= render "shared/navigationbar" %>

<div class="headline">Tank Overview</div>
<%= render "link_bar" %>

<%= render partial: "shared/tank_list", locals: {tanks: @tanks, rUrl: tanks_path} %>

<%= render "shared/footer" %>