<br><hr>
<p style="font-size:12px"><a href='http://forum.worldoftanks.eu/index.php?/topic/524379-marks-of-excellence-data-a-new-metric-has-been-born-190117-dank-marks-can-melt-steel-beams/'>WoT forum thread</a>
 | <a href='http://forum.wotlabs.net/index.php?/topic/22352-marks-of-excellence-data-a-new-metric-has-been-born-251216-last-christmas-i-gave-you-my-marks/'>Wotlabs forum thread</a>
 | Created by Aim_Drol and pun_xD 2k16 - 2k17 \//\/</p>