.table{
  border-collapse: collapse;
	&__head{
		background-color: #aaaaaa;
	}
	&__row{
		&:nth-child(odd){
			background-color: #777777;
		}
		&:nth-child(even){
			background-color: #AAAAAA;
		}
	}
}