* {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  }

.smallTankIcon {
	height: 31px;
	width: 124px;
	vertical-align: bottom;
}

.smallVehicleTypeIcon {
	vertical-align: bottom;
}

.smallNationIcon {
	
}
  
table {
    border-collapse: collapse;
    width: 100%;
	
	td, th {
		border: 1px solid #ddd;
		padding: 5px;
	}
	
	td {
		a {
			text-decoration: none;
			color: #7524D8;
		}
	}
	
	th {
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: left;
		background-color: #865DAD;
		color: white;
		font-size: 16px;
		
		a {	
			text-decoration: none;
			color: white;
		}
	}
	
	tr
	{	
		&:nth-child(even){background-color: #e6e6e6;}
		
		&:hover {background-color: #dfd8f3;}
	}
}

.digg_pagination {
	background: white;
	cursor: default;
	margin-bottom: 0.1em;
	margin-top: 0.1em;

	* html & {
		height: 1%;
	}
	*:first-child + html & {
		overflow: hidden;
	}
  
    a, span, em {
		padding: 0.2em 0.5em;
		display: block;
		float: left;
		margin-right: 1px; 
	}
	
	a {
    text-decoration: none;
    color: #4C10B5;
    border: 1px solid #AF9DE0;
	
    &:hover, &:focus {
		color: #230033;
		background: #A775FF;
		border-color: #230033; }
	}
	
	.page_info {
		background: #865DAD;
		color: white;
		padding: 0.4em 0.6em;
		width: 22em;
		margin-bottom: 0.3em;
		text-align: center;
		
		b {
			color: #230033;
			background: #6aa6ed;
			padding: 0.1em 0.25em;
		}
	}
	
	.disabled {
		color: #999999;
		border: 1px solid #dddddd;
	}
	
	.current {
		font-style: normal;
		font-weight: bold;
		background: #865DAD;
		color: white;
		border: 1px solid #865DAD;
	}

	&:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
}

