* {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  }

$primary-color: #865DAD;
$primary-highlight-backgroundcolor: #230033;
$primary-highlight-color: #A775FF;
$secondary-highlight-color: #DFD8F3;
$row-background-color: #E6E6E6;
$link-color: #7524D8;

.dred {
	background-color:#930D0D;
	color: #fff;
}
.red {
	background-color:#CD3333;
	color: #fff;
}
.orange {
	background-color:#CC7A00;
	color: #fff;
}
.yellow {
	background-color:#CCB800;
	color: #fff;
}
.green {
	background-color:#849B24;
	color: #fff;
}
.dgreen {
	background-color:#4D7326;
	color: #fff;
}
.blue {
	background-color:#4099BF;
	color: #fff;
}
.dblue {
	background-color:#3972C6;
	color: #fff;
}
.purple {
	background-color:#793DB6;
	color: #fff;
}
.dpurple {
	background-color:#401070;
	color: #fff;
}

.headerNavigationBar {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #AF9DE0;
	text-transform: uppercase;
}

.headerButton {
    float: left;
    border-right: 1px solid #bbb;

	a {
		display: block;
		color: white;
		text-align: center;
		padding: 10px 10px;
		text-decoration: none;
		background: $primary-color;
		/*font-family: 'Ubuntu Condensed', sans-serif;*/
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		font-weight: bold;
		color: #FFFFFF;
		
		&:hover, &:focus {
			color: $primary-highlight-backgroundcolor;
			background: $primary-highlight-color;
		}
	}
}


.smallTankIcon {
	height: 31px;
	width: 124px;
	vertical-align: bottom;
}

.smallVehicleTypeIcon {
	vertical-align: bottom;
}

.smallNationIcon {
	
}

table {
    border-collapse: collapse;
    width: 100%;
	
	td, th {
		border: 1px solid #ddd;
		padding: 5px;
	}
	
	td {
		span {
			vertical-align: middle;
		}
		img {
			vertical-align: middle
		}

		a {
			text-decoration: none;
			vertical-align: middle;
			color: $link-color;
		}
	}
	
	th {
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: left;
		background-color: $primary-color;
		color: white;
		font-size: 16px;
		
		a {	
			text-decoration: none;
			color: white;
		}
	}
	
	tr
	{	
		&:nth-child(even){background-color: $row-background-color;}
		
		&:hover {background-color: $secondary-highlight-color;}
	}
}

.digg_pagination {
	background: white;
	cursor: default;
	margin-bottom: 0.1em;
	margin-top: 0.1em;

	* html & {
		height: 1%;
	}
	*:first-child + html & {
		overflow: hidden;
	}
  
    a, span, em {
		padding: 0.2em 0.5em;
		display: block;
		float: left;
		margin-right: 1px; 
	}
	
	a {
		text-decoration: none;
		color: #4C10B5;
		border: 1px solid #AF9DE0;
		
		&:hover, &:focus {
			color: $primary-highlight-backgroundcolor;
			background: $primary-highlight-color;
			border-color: $primary-highlight-backgroundcolor;
		}
	}
	
	.page_info {
		background: $primary-color;
		color: white;
		padding: 0.4em 0.6em;
		width: 22em;
		margin-bottom: 0.3em;
		text-align: center;
		
		b {
			color: $primary-highlight-backgroundcolor;
			background: #6aa6ed;
			padding: 0.1em 0.25em;
		}
	}
	
	.disabled {
		color: #999999;
		border: 1px solid #dddddd;
	}
	
	.current {
		font-style: normal;
		font-weight: bold;
		background: $primary-color;
		color: white;
		border: 1px solid $primary-color;
	}

	&:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
}

