<% content_for :title do %><% @vehicle_type.name %><% end %>
<%= render "shared/navigationbar" %>

<h1><%= @vehicle_type.name %></h1>

<%= render partial: "shared/tank_list", locals: {tanks: @tanks} %>

<%= render "shared/footer" %>