<div>
	<%= link_to "Overview", stats_distribution_path %> | 
	<%= link_to "3 MoE Count", statsdistributionmarks_path %> | 
	<%= link_to "Winratio", statsdistributionwinrate_path %> | 
	<%= link_to "WN8", statsdistributionwn8_path %>
	<hr>
</div>